# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Data files
data/case_study.db

# Python virtual environments
venv/
fleetmix-env/

# Results
results/*.xlsx
results/*.json
results/*.html
results/*.csv
results/

# Testing
.hypothesis/
.coverage*
coverage/*
coverage/coverage-summary.json
src/*.egg-info/

# Etc
*tex
*.pdf
*.docx
*.xml
*.xlsx
*.egg-info/
*.txt
.idea/
.cursor/
.cursorignore

# TODO: do add the paper
paper_wip.txt
paper/*

# TODO: solve optimality gap implementation
*-pulp.lp
*-pulp.sol
gurobi.log